* {
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    /* color: #3A3B3C; */
}

#waybar {
  /* Transparent waybar. Make sure to comment out background-color: and border: */
  background: rgba(0,0,0,0.3);
  border-radius: 10px;
  /* background-color: #1e1e2e; */
  /* border: 2px solid #313244; */
  transition-property: background-color;
  transition-duration: .5s;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border: 2px solid #89dceb;
}

window#waybar.hidden {
  opacity: 0.5;
}

window#waybar.empty {
  opacity: 0.0;
}

@keyframes rgb {
  0% {
	  border: 2px solid ; 
  }

  100% {
	  border: 2px solid #89dceb;
  }
}

#backlight,
#battery,
#clock,
#cpu,
#disk,
#memory,
#tray,
#pulseaudio,
#bluetooth,
#window,
#custom-menu,
#custom-notification,
#workspaces,
#network {
	border-radius: 8px;
	border: 2px solid #89dceb;
	margin: 6px 0px;
	padding: 0px 15px;
  background: rgba(0,0,0,0.5);
  color: #F9E2AF;
  /*border: 2px solid #3a3b3c; */
	/*animation: rgb 1s linear infinite alternate;*/
}

#workspaces {
	margin: 6px 0px;
	padding: 0px 8px;
  color: #F9E2AF;
}

#backlight {
	color: #cba6f7;
}

#battery {
	color: #a6e3a1;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

@keyframes blink-charging {
	to {
		color: #a6e3a1;
	}
}

#battery.charging {
    color: #f38ba8;
    animation-name: blink-charging;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    background: rgba(249, 226, 175, .7);
    color: #f38ba8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
  color: #fff;
}

#cpu {
	color: #89dceb;
}

#memory {
	color: #eba0ac;
}

#disk {
	color: #b4befe;
}

#tray {
	background-color: rgba(0,0,0,0.5);
	color: #89dceb;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#workspaces button {
  background: rgba(0,0,0,0.0);
  color: #d9e0ee;
  /* border: 2px solid #3a3b3c; */
  margin-right: 2px;
}

#workspaces button.active {
  color: #89dceb;
}

#custom-menu {
  margin-left: 6px;
	color: #f38ba8;
}

#custom-media {
    padding: 0px 10px 0px;
    margin: 6px 4px;
    border-radius: 8px;
    border: 2px solid #89dceb;
    background-color: rgba(0,0,0,0.5);
    color: #89dceb;
}

#custom-spotify {
    padding: 0px 10px 0px;
    margin: 6px 4px;
    border-radius: 8px;
    background-color: #6BD999;
    color: black;
}

#custom-notification {
  font-family: "NotoSansMono Nerd Font";
}

#pulseaudio {
	color: #fab387;
}

#pulseaudio.bluetooth {
	color: #89dceb;
}
#pulseaudio.muted {
	
	color: #cdd6f4;
}

#network {
	color: #89b4fa;
}
#network.disconnected,#network.disabled {
	
	color: #cdd6f4;
}
